HOW TO USE OneHotEncoder

This is used to represent categorical  data into numerical so it can fit into models easily

In [1]:
#so let us start by importing basic modules first
import pandas as pd
#importing onehotencoder
from sklearn.preprocessing import OneHotEncoder
#importing column transformer
from sklearn.compose import ColumnTransformer

In [2]:
#now we will use a data fram (i will include this in profile)

In [3]:
Df=pd.read_csv("52  car-sales.csv")

In [8]:
Df.dtypes

Unnamed: 0        int64
Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

here you can see (Make, Colour, Price) columns are not if integer/ float type

In [18]:
#first we create a list like this for columns we want to change
cl=["Make", "Colour"]

In [19]:
#follow these steps now
onehotencode=OneHotEncoder()
Transformer=ColumnTransformer([("onehotencode",onehotencode,cl)],remainder="passthrough")
new=Transformer.fit_transform(Df)

In [20]:
New=pd.DataFrame(new)

In [21]:
New

    0    1    2    3    4    5    6    7    8  9       10 11          12
0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0  150043  4   $4,000.00
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1   87899  4   $5,000.00
2  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  2   32549  3   $7,000.00
3  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  3   11179  5  $22,000.00
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  4  213095  4   $3,500.00
5  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  5   99213  4   $4,500.00
6  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  6   45698  4   $7,500.00
7  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  7   54738  4   $7,000.00
8  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  8   60000  4   $6,250.00
9  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  9   31600  4   $9,700.00

Now the values filled in colour/make columns are presented in values

### by ayush pareek